<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Plumberz - Free Plumbing Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/logo.png}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <style>
    .tech-image-container {
           overflow: hidden;
           position: relative;
           height: 200px; /* Fixed height for desktop */
           width: 100%;
       }
       /* Section Styling */
       .project-area {
         padding: 60px 0;
         background-color: #f9f9f9;
       }

       .section-sub-title {
         font-size: 2.5rem;
         font-weight: bold;
         color: #333;
         position: relative;
       }

       .section-sub-title .highlight {
         font-size: 3rem; /* Larger font size for the span */
         color: red; /* Red color for the span */
         font-weight: 700;
         position: absolute;
         top: 0;
         left: 0;
         transform: translateY(-50%);
       }

       .all-clients {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 30px;
       }

       /* Client Card Styling */
       .values-logo {
         background-color: #ffffff;
         padding: 30px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
         border-radius: 10px;
         text-align: center;
         transition: transform 0.3s ease, box-shadow 0.3s ease;
       }

       .values-logo:hover {
         transform: translateY(-10px);
         box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
       }

       .values-logo img {
         width: 100px;
         height: 100px;
         object-fit: contain;
         margin-bottom: 15px;
       }

       .values-logo h4 {
         font-size: 1.2rem;
         color: #333;
         font-weight: 600;
       }

       /* Media Queries for Responsiveness */
       @media (max-width: 768px) {
         .section-sub-title {
           font-size: 2rem;
         }

         .section-sub-title .highlight {
           font-size: 2.5rem;
         }

         .all-clients {
           justify-content: center;
         }

         .values-logo {
           width: 100%;
           padding: 20px;
         }
       }

    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-light d-none d-lg-block">
    <div class="row align-items-center top-bar">
        <div class="col-lg-3 col-md-12 text-center text-lg-start" >
            <a href="index" class="navbar-brand m-0 p-0">
                <h1 class="text-primary m-0" style="font-size : 25px"><spa><img src="img/logo.png" style="height: 60px; margin-right: 10px; vertical-align: middle;"/></spa>Parida Engineering</h1>
            </a>
        </div>
        <div class="col-lg-9 col-md-12 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <i class="fa fa-map-marker-alt text-primary me-2"></i>
                <p class="m-0">210-B, Shahpur Jat, Opp. Asiad Village, New Delhi-110049</p>
            </div>
            <div class="h-100 d-inline-flex align-items-center me-4">
                <i class="far fa-envelope-open text-primary me-2"></i>
                <p class="m-0">pchandrakanta36@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
        <a href="index" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
            <h1 class="text-primary m-0">Parida Engineering</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto">
                <a href="index" class="nav-item nav-link ">Home</a>
                <a href="about" class="nav-item nav-link active">About</a>
                <a href="service" class="nav-item nav-link">Services</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="gallery" class="dropdown-item">Gallery</a>
                        <a href="testimonial" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="mt-4 mt-lg-0 me-lg-n4 py-3 px-4 bg-primary d-flex align-items-center">
                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 45px; height: 45px;">
                    <i class="fa fa-phone-alt text-primary"></i>
                </div>
                <div class="ms-3">
                    <p class="mb-1 text-white">Phone</p>
                    <h5 class="m-0 text-secondary">+91 9583855841</h5>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 py-5">
        <div class="container">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a class="text-white" href="index">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.1s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="img/service-1.jpg" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Residential Plumbing</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.3s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="img/service-2.jpg" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Commercial Plumbing</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 service-item-top wow fadeInUp" data-wow-delay="0.5s">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 h-100" src="img/service-3.jpg" alt="">
                </div>
                <div class="d-flex align-items-center justify-content-between bg-light p-4">
                    <h5 class="text-truncate me-3 mb-0">Emergency Servicing</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">About Us</h6>
                    <h1 class="mb-4">We Are Your PLUMBER</h1>
                    <p class="mb-4">With years of experience, our plumbing company is dedicated to providing reliable, high-quality plumbing services for both residential and commercial properties.</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Residential & commercial plumbing</p>
                    <p class="fw-medium text-primary"><i class="fa fa-check text-success me-3"></i>Quality services at affordable prices</p>
                    <div class="bg-primary d-flex align-items-center p-4 mt-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt fa-2x text-primary"></i>
                        </div>
                        <div class="ms-3">
                            <p class="fs-5 fw-medium mb-2 text-white">Phone</p>
                            <h3 class="m-0 text-secondary">+91 9583855841</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pt-4" style="min-height: 500px;">
                    <div class="position-relative h-100 wow fadeInUp" data-wow-delay="0.5s">
                        <img class="position-absolute img-fluid w-100 h-100" src="img/photo.jpeg" style="object-fit: cover; padding: 0 0 50px 100px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Years Experience</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Expert Technicians</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-users fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Satisfied Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa fa-wrench fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                    <p class="text-white mb-0">Compleate Projects</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->

<section id="project-area" class="project-area">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h3 class="section-sub-title aos-init aos-animate" style="margin-bottom : 30px;" data-aos="fade-up">
                    Core <span style="font-size: 50px; color:red;">Values</span>
                </h3>
            </div>
        </div><!-- /Title row end -->

        <div class="row all-clients">
            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_1.png" alt="Reliability">
                    <h4 class="text-center mt-1">Reliability</h4>
                </figure>
            </div><!-- Client 1 end -->

            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_2.png" alt="Quality">
                    <h4 class="text-center mt-1">Quality</h4>
                </figure>
            </div><!-- Client 2 end -->

            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_3.png" alt="Support">
                    <h4 class="text-center mt-1">Support</h4>
                </figure>
            </div><!-- Client 3 end -->

            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_4.png" alt="Upgradation">
                    <h4 class="text-center mt-1">Upgradation</h4>
                </figure>
            </div><!-- Client 4 end -->

            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_5.png" alt="Ownership">
                    <h4 class="text-center">Ownership</h4>
                </figure>
            </div><!-- Client 5 end -->

            <div class="col-sm-3 col-6">
                <figure class="values-logo aos-init aos-animate" data-aos="fade-up">
                    <img loading="lazy" class="img-fluid" width="100px" src="img/img_6.png" alt="Speed">
                    <h4 class="text-center">Speed</h4>
                </figure>
            </div><!-- Client 6 end -->
        </div><!-- Clients row end -->
    </div>
</section>

<div class="container-fluid fact bg-dark my-5 py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="section-sub-title text-white aos-init aos-animate" data-aos="fade-up">Our Mission</h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row text-center">
            <div class="col-12">
                <p class="section-title text-white aos-init aos-animate" data-aos="fade-up">Parida Engineering is dedicated to delivering reliable, high-quality plumbing solutions with a focus on customer satisfaction and innovation. Our mission is to ensure safe, efficient, and sustainable plumbing for every project we undertake.</p>
            </div>
        </div>

    </div>
</div>


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Parida Engineering</h3>
                    <p class="mb-4">We are a trusted plumbing company specializing in residential and commercial services, offering prompt, reliable solutions for all your plumbing needs. From repairs to installations, we ensure quality workmanship and customer satisfaction.</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>210-B, Shahpur Jat, Opp. Asiad Village, New Delhi-110049</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 9583855841</p>
                    <p class="mb-2" style="font-size: 13px;"><i class="fa fa-envelope me-3"></i>pchandrakanta36@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="">Drain Cleaning</a>
                    <a class="btn btn-link" href="">Sewer Line</a>
                    <a class="btn btn-link" href="">Water Heating</a>
                    <a class="btn btn-link" href="">Toilet Cleaning</a>
                    <a class="btn btn-link" href="">Broken Pipe</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Reach to us.</h4>
                    <iframe class="position-relative w-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14022.983165729698!2d77.2002668!3d28.5478086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce2127da1cf23%3A0xd89ebc21c669134d!2sHauz%20Khas%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1699655368324!5m2!1sen!2sin"
                            frameborder="0" style="height: 150px; border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">PARIDA	ENGINEERING</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By Smrutikanta
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/wow/wow.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/counterup/counterup.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
</body>

</html>